<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <button routerLink="/home" mat-icon-button aria-label="Example icon-button with home icon">
        <img src="{{logoImg}}" alt="Logo image" />
      </button>
      <span>Instructo Website</span>
    </div>
    <mat-toolbar-row fxLayoutAlign="end center" fxLayoutGap="20px">
      <a routerLink="/home">Home</a>
      <a routerLink="/aboutus">About us</a>
      <a routerLink="/gallery">Gallery</a>
      <a routerLink="/contactus">Contact us</a>
    </mat-toolbar-row>
  </mat-toolbar-row>

</mat-toolbar>
