mat-toolbar-row {
  background-color: black;

  img {
    width: 35px;
    height: 35px;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #4CAF50;
  }
}
