<app-navbar></app-navbar>


<div class="section">
  <div class="video-container">
    <video autoplay loop muted>
      <source src="./assets/test2.mp4" type="video/mp4" />
    </video>
  </div>
  <div fxLayout="column" fxLayoutGap="250px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1>
        Welcome to Instructo!
      </h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button class="red" routerLink="/instructor">I Am an Instructor</button>
      <!--<img src="{{logoImg}}" alt="Logo image" />-->
      <button mat-raised-button class="black" routerLink="/clientlist">Looking for an Instructor</button>
    </div>
  </div>
</div>


<!--<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="red" routerLink="/instructor">I Am an Instructor</button>
    <img src="{{logoImg}}" alt="Logo image" />
    <button mat-raised-button class="black" routerLink="/clientlist">Looking for an Instructor</button>
  </div>
</div>-->

<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>
      Welcome to Instructo!
    </h1>
  </div>
</div>



<app-footer></app-footer>
